@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    margin: 0 0 0 0;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}
  
* {
    box-sizing: border-box;
    font-size: 1rem;
    animation: fade-in 1s;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    border: none;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rightNav {
    display: flex;
    flex-direction: row;
    ;
}